{% extends "layout.html" %}
{% block body %}
  <h2>Все книги</h2>
    {%- for book in books %}
      <ul>
        <li> Автор: {{ book.author_name }} </li>
        <li> Название: {{ book.book_name }} </li>
        <li>
          <a href="{{ url_for('books_by_genre', genre_id=book.genre.id) }}">Жанр: {{ book.genre.genre_name }}</a>
        </li>
        <li> Публикация: {{ book.publisher.strftime("%d-%m-%Y") }} </li>
          <form method="POST" action="/">
        Прочитано<input type="checkbox" value="1" name="Прочитано">
        <input type="submit">
        </form>

      </ul>
      <hr>
    {%- endfor %}
{% endblock %}
